<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead class="">
          <tr>
            <th>id</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let value of subscribedvalues;let i =index ; trackBy:trackBy ">
            <th>{{value?.id}}</th>
            <th>{{value?.name}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <form #f='ngForm' (ngSubmit)="addAsync()">
        <div class="form-group">
          <label>Email address</label>
          <input type="text" class="form-control" [(ngModel)]="asyncValue.name" id="name" name="name"
            placeholder="username" ngModel>
        </div>
        <div>{{f.value | json}}</div>

        <button type="submit" class="btn btn-success">SEND</button>
      </form>
    </div>
    <div class="col-md-4">
      <table class="table">
        <thead class="">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
          </tr>
        </thead>
  
        <tbody>
          <tr *ngFor="let value of asyncObsValue| async">
            <th>{{value.id}}</th>
            <th>{{value.name}}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
